.env
/bot/__pycache__
/bot/commands/__pycache__
/bot/src/badWordResponses.json
/bot/src/badWords.json
.vscode/settings.json
/bot/commands/songs/__pycache__
/bot/songs
/bot/commands/misc/__pycache__
/bot/commands/server/__pycache__
/bot/commands/user/__pycache__
/bot/tempCodeRunnerFile.py
/bot/hiddentriggers
/bot/commands/admin/__pycache__
/bot/commands/fun/__pycache__
